body {
    background-color:beige;
}
.fundo {
    background-color: orange;
}
.caixa {
    background-color: rgb(236, 187, 96);
    padding-top: 20px;
    padding-left: 20px;
    margin: 50px;
}
h2{
    font-size: medium;
  }
p {
    font-size: medium;
}